@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    position: relative;
    background: url("/background.png");
    width: 100vw;
    height: 100vh;
    min-height: 100svh;
    overflow: hidden;
}



/* -------------- */
/* Custom Classes */
/* -------------- */

.bg-tran {
    background-color: #345a;
}

.h-sscreen {
    height: 100svh;
    max-height: 100svh;
    min-height: 100svh;
}

.border-y-seperator {
    border-top-width: 1px;
    border-bottom-width: 1px;

    &:first-of-type {
        border-top-width: 0;
    }

    &:last-of-type {
        border-bottom-width: 0;
    }
}

/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.text {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    font-size: 18px;

    .message {
        width: fit-content;
        padding: 0.1rem 0.3rem;
        border-radius: 0.25rem;
        background-color: #cbd5e1;
    }

    .time {
        font-size: 0.8em;
        color: #e3e3e4
    }

    &.own {
        align-self: flex-end;
        display: flex;
        align-items: flex-end;
        
        .message {
            background-color: #7dd3fc;
        }
    }
}