@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: url("/background.png");
    width: 100vw;
    height: 100vh;
    min-height: 100svh;
}


/* Custom Classes */

.bg-tran {
    background-color: #3457;
}

.h-sscreen {
    height: 100svh;
}

/* Hide scrollbar but still allow scrolling */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.text {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    font-size: 18px;

    .message {
        width: fit-content;
        padding: 0.1rem 0.3rem;
        border-radius: 0.25rem;
        background-color: #cbd5e1;
    }

    .time {
        font-size: 0.8em;
        color: #e3e3e4
    }

    &.own {
        align-self: flex-end;
        display: flex;
        align-items: flex-end;
        
        .message {
            background-color: #7dd3fc;
        }
    }
}